@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), var(--font-noto-jp), Arial, Helvetica, sans-serif;
}

.header-logo {
  font-family: "Righteous", sans-serif;
}